<div class="col-sm-12 col-md-12 f-bid-border backgroundcolor-main">
    <form class="form-horizontal" action="#" method="post" id="form_bind_client">
        <div class="form-group">
            <label class="control-label col-sm-2">Я ищу:</label>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox">ЖБИ (фундаментные блоки ФБС, плиты перектырый ПК, перемычки)</label>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox">Кирпич / Газобетон / Брус</label>
                </div>
            </div>
             <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox">Бетон / Раствор</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">в:
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ regions.selected_region }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for region in regions.list_region %}
                        <li><a href="{{ region.url }}">{{ region.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="f-bid-what_necessary" class="control-label col-sm-2">Описание:*</label>
            <div class="col-sm-10">
                <textarea rows="3" class="form-control" id="f-bid-what_necessary" required></textarea>
                <p class="text-muted">Пример: нужно фбс 2.4.4.6 50 шт плиты пк 20 ПК 60-20-12 доставка в Новолуговое</p>
            </div>
        </div>
        <div class="form-group">
            <label for="f-bid-phone" class="col-sm-2 control-label">Телефон:*</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="f-bid-phone" required>
            </div>
            <label for="f-bid-name" class="col-sm-2 control-label text-right">Имя:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="f-bid-name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 center-block">
                <input type="submit" class="btn btn-info center-block"  value="Опубликовать заявку" />
            </div>
        </div>
    </form>
</div>