<!-- форма организации -->
<form class="form-horizontal" action="#" method="post">
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Организация:*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Регион:</label>
            <div class="col-sm-9">
                <select class="form-control">
                    {% for region in regions.list_region %}
                        <option>{{ region.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Адрес:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Телефон:*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control phone-mask" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">E-mail:*</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Имя:*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" required>
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-3 control-label text-right">Продукция</label>
            <div class="col-sm-9">
                <select class="form-control">
                    <option>ЖБИ</option>
                    <option>Кирпич/брус</option>
                    <option>Бетон</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Описание</label>
            <div class="col-sm-9">
                <textarea rows="3" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-info">Записать</button>
            </div>
        </div>
    </fieldset>
</form>