{% for company in list_of_companies %}
    <div class="col-sm-12 col-md-12 border-all">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <a href="{{ company.url }}">
                    <img class="logo-vcenter" src="{{ company.logo }}" alt="Логотип">
                </a>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9">
                <h4><a href="{{ company.url }}">{{ company.name }}</a></h4>
                <p>Место деятельности: {{ company.region }}</p>
                <p>Продукция: {{ company.products }}</p>
                <p>Адрес: {{ company.address }}</p>
                <p>Телефон: {{ company.phone }}</p>
            </div>
        </div>
    </div>
{% endfor %}