<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"  type='text/css'  media='all'>
    <link rel="stylesheet" href="css/main.min.css" type='text/css'  media='all'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Шапка -->
    <header>
        <!-- навигационное меню -->
        <div class="container-fluid">
            <div class="row">
                <div class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu" id="button_navbar_toggle">
                                <span class="sr-only">Открыть навигацию</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="responsive-menu">
                            <p class="navbar-text">Регион: </p>
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="region">{{ regions.selected_region }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for region in regions.list_region %}
                                            <li><a href="{{ region.url }}">{{ region.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if user %}
                                    <li><a href="personal.html">{{ user }}</a></li>
                                    <li><a href="#">Выйти</a></li>
                                {% else %}
                                    <li><a href="#">Войти</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Основной блок -->
    <main>
        <div class="container">
            <!-- Блок контента -->
            <div class="row">
                {% block main %}{% endblock %}
            </div>
        </div>
    </main>
    <!-- Футер -->
    <footer>
        <div class="container-fluid">
            <div class="row">
                 <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
                 <div class="col-sm-12 col-md-10 col-lg-8">
                    <div class="row">
                        <!-- форма поставщика -->
                        {% block footer %}{% endblock %}
                        <!-- Подвал сайта -->
                        <div class="col-sm-12 col-md-12 copyright">
                            <p class="text-right">&copy; Copyright 2016 by aleksei-g.</p>
                        </div>
                    </div>
                 </div>
                 <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        NeedToShowNotifyMessage = "{{ need_to_show_notify_message }}";
        MessageRegion = "Ваш регион: <strong>{{ regions.selected_region }}</strong>. Угадали?";
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/bootstrap-notify.min.js"></script>
    <script src="js/main.min.js"></script>
</body>
</html>